/* Add your custom CSS styles here */
.logo {
  height: 50px;
  margin-right: 10px;
}
.navbar {
  margin-bottom: 50px;
  background-color: rgb(255, 217, 0);
  text-align: center;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #0080ff;
  padding: 10px 0;
  text-align: center;
}
